*.sqlite
*.sqlite3
*.sqlite3*
*.sqlite3-*
.env
**/*.pyc
**/__pycache__
**/*.pyo
**/*.pyd
**/*.pyi
**/.pytest_cache
**/.venv
venv/
**/venv
**/*.DS_Store
.pytest_cache
backend/.pytest_cache
backend/data/*.*
Pictures/
test_photo_db