# Main Settings
DEFAULT_LANGUAGE="ru"

# Database environments:
DATABASE_DIALECT="sqlite"
DATABASE_NAME="../db.sqlite3"
DATABASE_HOST="localhost"
DATABASE_PORT=5432
DATABASE_USER="db_user"
DATABASE_PASSWORD="db_pass"
# DATABASE_ECHO=true
# DATABASE_POOL_RECYCLE=3600
# DATABASE_POOL_PRE_PING=true
# DATABASE_AUTO_FLUSH=false
# DATABASE_EXPIRE_ON_COMMIT=false

# API
API_HOST="localhost"
API_PORT=8000
API_TOKEN="qweqwe"

# CLIP
CLIP_MODEL="ViT-B-32"
CLIP_MODE="local"
PRETRAINED="laion2b_s34b_b79k"
CSV_PATH="data/class-descriptions-boxable.csv"
NPY_PATH="data/tags_features.npy"
TAGS_LIST_PATH="data/tags_list.txt"
TAGS_CLIP_THRESHOLD=0.26
VOCAB_URL="https://storage.googleapis.com/openimages/v7/oidv7-class-descriptions-boxable.csv"
CATEGORIES_NPY_PATH="data/categories_features.npy"
CATEGORIES_HASH_PATH="data/categories_hash.txt"
CATEGORIES_CLIP_THRESHOLD=0.2

# Vision
VISION_DESCRIBER_MODEL="Qwen/Qwen2-VL-2B-Instruct"
VISION_MODE="local"
RESIZE_FOR_DESCRIPTION_Y=448
RESIZE_FOR_DESCRIPTION_X=448
RESIZE_FOR_DETECTION_Y=224
RESIZE_FOR_DETECTION_X=224

# OSR
OCR_MODE="local"

# Embedding
PHOTO_EMBEDDER_MODEL="nomic-ai/nomic-embed-text-v1.5"
EMBEDDING_MODE="local" 

# Translation
TRANSLATOR_MODEL="facebook/nllb-200-distilled-600M"
TRANSLATOR_MODE="local" 

# AI chat bot
CHAT_MODEL="gpt-4o-mini"
CHAT_MODEL_MODE="remote"
CHAT_LOCAL_MODEL="Qwen/Qwen2.5-Coder-3B-Instruct"
CHAT_API_URL=""
CHAT_API_KEY="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"
