pydantic-settings
pytest
pytest-asyncio
fastapi
uvicorn
sqlalchemy
pgvector
watchdog
huey==2.5.0
langchain
langgraph
langchain-huggingface
pytesseract
Pillow
open_clip_torch
torch
torchvision
transformers
accelerate
qwen-vl-utils
exifread
einops
geopy
loguru
sentence_transformers
sqlite-vec