.sidebar {
    height: 100vh;
    background: var(--color-surface);
    border-right: 1px solid var(--color-border);

    display: flex;
    flex-direction: column;

    overflow: hidden;
    transition: width 0.25s ease;
}

/* STATES */
.sidebar--full {
    width: 200px;
}

.sidebar--compact {
    width: 64px;
}

.sidebar--hidden {
    width: 0;
    /* полностью скрыт */
}

/* TOGGLE ALWAYS VISIBLE */
.sidebar__toggle {
    position: absolute;
    top: 8px;
    left: 8px;

    background: none;
    border: none;
    cursor: pointer;
}

/* CONTENT WRAPPER */
.sidebar__content {
    margin-top: 32px;
    display: flex;
    flex-direction: column;
}

/* COLLAPSE CONTENT IN HIDDEN */
.sidebar--hidden .sidebar__content {
    display: none;
}

/* NAV */
.sidebar__nav {
    display: flex;
    flex-direction: column;
    gap: 4px;
    padding: 0 8px;
}

/* LINK */
.sidebar__link {
    display: flex;
    align-items: center;
    gap: 10px;

    padding: 8px;
    border-radius: 6px;

    text-decoration: none;
}

/* ICON */
.sidebar__icon {
    width: 24px;
    text-align: center;
}

/* ACTIVE */
.sidebar__link--active {
    background: rgba(124, 111, 255, 0.15);
}